button{
  padding:20px 40px;
  font-size: 24px; 
  margin:20px;
  border-radius: 5px;
}

button i{
  margin-right:15px;
}

button.pequeno{
  padding: 10px 20px;
  font-size: 14px;
}

button.grande {
  padding: 100px;
}

button.medio {
  padding: 50px;
}

.verde {
  background-color: green;
<<<<<<< HEAD
  border-radius: 5px;
}

.roxo{
  background-color: purple;
}

.azul{
  background-color: blue;
}

.rosa{
  background-color: crimson;
  border-radius: 30px;
}

.verde2{
  background-color: darkgreen;
  border-radius: 70px;
}

.amarelo{
  background-color: yellow;
  border-radius: 20px;
}

.marrom{
  background-color: brown;
  width: 20px;
  border-radius: 10px;
}

.vermelho{
  background-color: red;
  width: 60px;
  height: 90px;
  border-radius: 20px;
}
=======
}

.roxo {
  background-color: purple
}

.azul {
  background-color: blue;
}
>>>>>>> upstream/aula2
